.language-selector {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 80px;
}

select {
    background-color: transparent;
    border: none;
    font-size: 16px;
    appearance: none;
    padding-left: 8px;
    outline: none;
    cursor: pointer;
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

img {
    height: 24px;
    margin-right: 8px;
}

select {
    background-color: transparent;
    border: none;
    font-size: 16px;
    appearance: none;
    padding-left: 8px;
    outline: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

select:hover {
    background-color: #f2f2f2;
}

@media (max-width: 500px) {
    .language-selector {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        padding: 2px;
        img {
            height: 16px;
            margin-right: 0;
        }
        select {
            font-size: 0.8rem;
        }
    }
}