<div class="">
    <div class="">
        <button class="btn-coppy-link w-100" (click)="copyLink()">
            <i class="fa-solid fa-code"></i>
            {{ 'COPY_LINK' | translate }}
        </button>
    </div>
    <div class="summary-info mt-4">
        <div class="p-3">
            <div class="d-flex justify-content-between">
                <p class="key">Total posts view</p>
                <p class="value">0</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="key">Following Tags</p>
                <p class="value">0</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="key">Following Users</p>
                <p class="value">{{user?.followersNumber}}</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="key">Followers</p>
                <p class="value">{{user?.followersNumber}}</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="key">Total Posts</p>
                <p class="value">{{ user?.postsNumber }}</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="key">Bookmark</p>
                <p class="value">0</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="key">Total Series</p>
                <p class="value">0</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="key">Total Questions</p>
                <p class="value">0</p>
            </div>
        </div>
    </div>
</div>