a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: var(--white) !important;
}

.sticky {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 100;
}

menu {
    background-color: var(--white);
}

ul {
    background-color: var(--white);
}

ul li {
    color: var(--black);
    font-weight: bold;
}

::-webkit-input-placeholder {
    color: var(--main-color) !important;
}

:-ms-input-placeholder {
    color: var(--main-color) !important;
}

::placeholder {
    color: var(--main-color) !important;
    font-weight: bold;
}

.btn-search {
    background: var(--main-color) !important;
    border-radius: 0 5px 5px 0 !important;

    i {
        color: var(--white);
    }
}

.form-group {
    & input {
        border: 2px solid var(--main-color);
        border-radius: 5px 0 0 5px;
    }
}

.form-group .form-control-icon {
    color: var(--main-color);
}

.fa-cart-arrow-down {
    color: var(--white);
    font-size: 2rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-menu {
    width: 240px;
}
.dropdown-item {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    color: var(--black) !important;
    font-weight: 400;
    &:hover {
        background-color: var(--gray-light) !important;
    }
}
.login-item {
    a {
        color: var(--main-color) !important;
    }
}

.jumbotron img {
    vertical-align: bottom;
    margin-right: 10px;
}

.center-content {
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.center-content img {
    margin: 30px;
    cursor: pointer;
}

.popover-profile-header {
    background-color: var(--gray-light);
}
.popover-profile-header-text {
    color: var(--gray-text);
    font-weight: 400 !important;
    font-size: 1rem !important;
    .name {
        font-weight: 700 !important;
        color: var(--main-color);
    }
}

.btn-main {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: var(--blue-itc);
    }
}

.popover-search {
    position: absolute;
    z-index: 1000;
    background-color: var(--white);
    width: 350px;
    border: 1px solid var(--gray-light);
    
    // animation
    transition: all 0.5s ease-in-out;
    .popover-search-body {
        .popover-search-body-item {
            position: relative;

            .loader {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .popover-search-body-item-label {
                background-color: var(--main-color);
                .title {
                    color: var(--white);
                    font-weight: 500;
                    font-size: 1rem;
                }
            }

            .popover-search-body-item-content {
                .popover-search-body-item-content-item {
                    border-bottom: 1px solid var(--gray-light);
                    padding: 5px;
                    cursor: pointer;
                    &:hover {
                        p {
                            color: var(--main-color);
                        }
                    }
                    .popover-search-body-item-content-item-card {
                        display: flex;
                        img {
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dropdown-menu {
        left: -200px;
    }
    .login-icon {
        font-size: 1.2rem;
        color: var(--main-color);
    }
}