<nav class="navbar navbar-expand-lg shadow navbar-light">
    <div class="container-lg p-0">
        <a class="navbar-brand ms-2" href="/home">
            <img src="assets/images/logo-header-250x250.png" width="50">
        </a>
        <div class="d-flex align-items-center" *ngIf="isMobile">
            <a href="" class="dropdown" *ngIf="isLogin">
                <span class="my-auto h-100 d-flex align-items-center me-2" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="{{ user?.avatar }}" width="40">
                </span>
                <ul class="dropdown-menu pt-0">
                    <div class="popover-profile-header p-3 d-flex">
                        <div class="popover-profile-header-avatar">
                            <img src="{{ user?.avatar }}" width="70">
                        </div>
                        <div class="popover-profile-header-text ms-2">
                            <p class="name m-0">{{ user?.fullName }}</p>
                            <p class="m-0">@{{ user?.username }}</p>
                            <button class="mt-2 btn-main">Edit</button>
                        </div>
                    </div>
                    <li>
                        <a class="dropdown-item" routerLink="/account">
                            <i class="fa-solid fa-user me-1"></i>
                            {{ 'ACCOUNT' | translate }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/profile/{{user?.username}}/posts">
                            <i class="fa-sharp fa-solid fa-address-card"></i>
                            {{ 'PROFILE' | translate }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fa-solid fa-unlock me-1"></i>
                            {{ 'CHANGE_PASSWORD' | translate }}
                        </a>
                    </li>
                    <li *ngIf="isAdmin()">
                        <a class="dropdown-item" href="#">
                            <i class="fa-solid fa-unlock me-1"></i>
                            Switch to admin mode 
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="logout()">
                            <i class="fa-solid fa-right-from-bracket me-1"></i>
                            {{ 'LOGOUT' | translate }}
                        </a>
                    </li>
                </ul>
            </a>
            <a class="fw-bold h-100 me-2" routerLink="/auth/login" *ngIf="!isLogin">
                <span class="my-auto h-100 d-flex align-items-center">
                    <i class="fa-solid fa-user login-icon me-2"></i>
                </span>
            </a>
            <a class="text-black fw-bold me-2">
                <app-language></app-language>
            </a>
        </div>
        <button class="navbar-toggler me-2" *ngIf="!isMobile" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="!isMobile">
            <ul class="mx-3 icon-logo navbar-nav col-12 col-lg-7 row text-lg-center h-100">
                <li class="col-1"></li>
                <li class="nav-item active col-4 col-lg-3 p-0">
                    <a class="nav-link text-black fw-bold" routerLink="/home/newest/posts">
                        {{ 'POSTS' | translate }}
                    </a>
                </li>
                <li class="nav-item active col-4 col-lg-3 p-0">
                    <a class="nav-link text-black fw-bold" href="#">
                        {{ 'Q&A' | translate }}
                    </a>
                </li>
                <li class="nav-item active col-4 col-lg-3 p-0">
                    <a class="nav-link text-black" routerLink="/home/newest/questions">
                        {{ 'SERIES' | translate }}
                    </a>
                </li>
            </ul>
            <ul class="mx-3 icon-logo navbar-nav col-12 col-lg-5 row">
                <li class="nav-item active col-7 p-0">
                    <a class="nav-link text-black fw-bold">
                        <div class="d-flex">
                            <div class="form-group">
                                <input type="text" class="form-control pe-5" placeholder="{{ 'SEARCH' | translate }}..."
                                    (keyup)="onFilterChange($event)">
                                <!-- popover search -->
                                <div class="popover-search" *ngIf="isShowSearch">
                                    <div class="popover-search-body">
                                        <div class="popover-search-body-item">
                                            <div class="popover-search-body-item-label p-2">
                                                <p class="m-0 text-uppercase title">{{ 'POSTS' | translate }}</p>
                                            </div>
                                            <div class="popover-search-body-item-content p-2">
                                                <div class="popover-search-body-item-content-item mt-3"
                                                    *ngFor="let post of posts">
                                                    <a href="/posts/{{post?.id}}" class="popover-search-body-item-content-item-card">
                                                        <div class="popover-search-body-item-content-item-img">
                                                            <img src="{{ post?.author?.avatar }}" width="50">
                                                        </div>
                                                        <div class="popover-search-body-item-content-item-text ms-2">
                                                            <p class="m-0">{{ post?.name }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popover-search-body-item">
                                            <div class="popover-search-body-item-label p-2">
                                                <p class="m-0 title">{{ 'QUESTIONS' | translate }}</p>
                                            </div>
                                            <div class="popover-search-body-item-content p-2">
                                                <div class="popover-search-body-item-content-item mt-3"
                                                    *ngFor="let question of questions">
                                                    <a routerLink="/questions/{{question?.id}}" class="popover-search-body-item-content-item-card">
                                                        <div class="popover-search-body-item-content-item-img">
                                                            <img src="{{ question?.author?.avatar }}" width="50">
                                                        </div>
                                                        <div class="popover-search-body-item-content-item-text ms-2">
                                                            <p class="m-0">{{ question?.title }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popover-search-body-item">
                                            <div class="popover-search-body-item-label p-2">
                                                <p class="m-0 title">{{ 'USER' | translate }}</p>
                                            </div>
                                            <div class="popover-search-body-item-content p-2">
                                                <div class="popover-search-body-item-content-item mt-3"
                                                    *ngFor="let user of users">
                                                    <a href="/profile/{{user?.username}}">
                                                        <div class="popover-search-body-item-content-item-card">
                                                            <img src="{{ user?.avatar }}" width="50" />
                                                            <div class="popover-search-body-item-content-item-text ms-2">
                                                                <p class="m-0">{{ user?.fullname }}</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-search">
                                <i class="fa fa-search form-control-icon"></i>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="nav-item active col-3 p-0 login-item d-flex justify-items-center">
                    <a *ngIf="isLogin" class="me-3" title="Currently the function is live in development. Sorry for the inconvenience">
                        <span class="my-auto h-100 d-flex align-items-center">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                    </a>
                    <a *ngIf="isLogin" class="me-3" title="Currently the function is live in development. Sorry for the inconvenience">
                        <span class="my-auto h-100 d-flex align-items-center">
                            <i class="fa-solid fa-bell"></i>
                        </span>
                    </a>
                    <a routerLink="/posts/create" *ngIf="isLogin" class="me-3">
                        <span class="my-auto h-100 d-flex align-items-center">
                            <i class="fa-sharp fa-solid fa-pen-line"></i>
                        </span>
                    </a>
                    <a href="" class="dropdown" *ngIf="isLogin">
                        <span class="my-auto h-100 d-flex align-items-center" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{{ user?.avatar }}" width="30">
                        </span>
                        <ul class="dropdown-menu pt-0">
                            <div class="popover-profile-header p-3 d-flex">
                                <div class="popover-profile-header-avatar">
                                    <img src="{{ user?.avatar }}" width="70">
                                </div>
                                <div class="popover-profile-header-text ms-2">
                                    <p class="name m-0">{{ user?.fullName }}</p>
                                    <p class="m-0">@{{ user?.username }}</p>
                                    <button class="mt-2 btn-main">Edit</button>
                                </div>
                            </div>
                            <li>
                                <a class="dropdown-item" routerLink="/account">
                                    <i class="fa-solid fa-user me-1"></i>
                                    {{ 'ACCOUNT' | translate }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/profile/{{user?.username}}/posts">
                                    <i class="fa-sharp fa-solid fa-address-card"></i>
                                    {{ 'PROFILE' | translate }}
                                </a>
                            </li>
                            <!-- <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa-solid fa-unlock me-1"></i>
                                    {{ 'CHANGE_PASSWORD' | translate }}
                                </a>
                            </li> -->
                            <li *ngIf="isAdmin()">
                                <a class="dropdown-item" routerLink="/admin">
                                    <i class="fa-sharp fa-regular fa-user-secret me-1"></i>
                                    Switch to admin mode 
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="logout()">
                                    <i class="fa-solid fa-right-from-bracket me-1"></i>
                                    {{ 'LOGOUT' | translate }}
                                </a>
                            </li>
                        </ul>
                    </a>
                    <a class="nav-link fw-bold h-100" routerLink="/auth/login" *ngIf="!isLogin">
                        <span class="my-auto h-100 d-flex align-items-center">
                            <i class="fa-solid fa-user me-2"></i>
                            {{ 'LOGIN' | translate }}
                        </span>
                    </a>
                </li>
                <li class="nav-item active col-1 p-0">
                    <a class="nav-link text-black fw-bold">
                        <app-language></app-language>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>