<div>
    <div class="card-comment">
        <app-my-ck-editor [readonly]="readonly" (changeInput)="onchange($event)" [contentRichText]="contentRichText"
            [placeholder]="placeholder">
        </app-my-ck-editor>
        <div class="mt-2 d-flex justify-content-end">
            <button class="btn-post-comment" [disabled]="contentRichText === ''" (click)="onSubmit()">
                {{ !question ? 'Posts comment' : 'Posts answer' }}
            </button>
        </div>
    </div>
    <div class="mt-3 card-comment" [ngClass]="comment && comment.isApproved ? 'card-comment-approved' : ''" *ngFor="let comment of listComments?.items | paginate: {
        itemsPerPage: itemsSize,
        currentPage: page,
        totalItems: listComments?.totalItems
      }">
        <div class="card-comment-header">
            <div class="icon-approved" *ngIf="comment && comment.isApproved">
                <i class="fa-sharp fa-solid fa-circle-check" title="Comment approved by owner question!"></i>
            </div>
            <div class="card-comment-header-left">
                <div class="card-comment-header-left-avatar" routerLink="/profile/{{comment?.author?.username}}/posts">
                    <img src="{{ comment?.author?.avatar }}" alt="avatar">
                </div>
                <div class="card-comment-header-left-info">
                    <div class="d-flex">
                        <div class="card-comment-header-left-info-name me-2">
                            <a routerLink="/profile/{{comment?.author?.username}}/posts">{{ comment?.author?.fullname }}</a>
                        </div>
                        <div class="card-comment-header-left-info-username" routerLink="/profile/{{comment?.author?.username}}/posts">
                            <span>@{{ comment?.author?.username }}</span>
                        </div>
                    </div>
                    <div class="card-comment-header-left-info-time">
                        <span>{{ comment?.modified | date: 'medium' }}</span>
                    </div>
                </div>
            </div>
            <div class="card-comment-header-right">
                <div class="card-comment-header-right-icon">
                    <!-- <i class="fa-solid fa-ellipsis-h"></i> -->
                    <div class="dropdown">
                        <button class="custom-button-option d-flex align-items-center" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu popover-posts-option pt-0">
                            <li (click)="approve(comment)" *ngIf="isPermission(question) && question">
                                <a class="dropdown-item p-3 py-2">
                                    <i class="fa-sharp fa-solid fa-circle-check me-2" ></i>
                                    <span>Approve</span>
                                </a>
                            </li>
                            <li (click)="updateComment(comment)" *ngIf="isPermission(comment)">
                                <a class="dropdown-item p-3 py-2">
                                    <i class="fa-regular fa-pen-to-square me-2"></i>
                                    <span>Edit comment</span>
                                </a>
                            </li>
                            <li (click)="deleteComment(comment)" *ngIf="isPermission(comment)">
                                <a class="dropdown-item p-3 py-2">
                                    <i class="fa-duotone fa-trash me-2"></i>
                                    <span>Delete comment</span>
                                </a>
                            </li>
                            <li *ngIf="!isPermission(comment)">
                                <a class="dropdown-item p-3 py-2" (click)="report()">
                                    <i class="fa-regular fa-flag me-2"></i>
                                    <span>Report</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-comment-body">
            <div class="card-comment-body-content">
                <div [innerHTML]="comment?.content | safeHtml"></div>
            </div>
        </div>
        <div class="card-comment-footer">
            <div class="card-comment-footer-left">
                <div class="card-comment-footer-left-icon me-2" (click)="openModalCommentDetail(comment)" *ngIf="!question">
                    <i class="fa-solid fa-comment me-1"></i>
                    <span>Reply ({{ comment?.childComment?.length }})</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-end">
        <pagination-controls *ngIf="listComments?.items.length" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>

