// comment
.card-comment {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--gray-light);
    padding: 20px;

    .card-comment-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        .card-comment-header-left {
            display: flex;
            align-items: center;

            .card-comment-header-left-avatar {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 0.5rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-comment-header-left-info-username {
                font-size: 0.8rem;
                font-weight: 500;
                color: var(--gray-text);
            }
        }
    }

    .card-comment-body {
        padding: 0.5rem 1rem;

        .card-comment-body-content {
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--black);
        }
    }

    .card-comment-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        .card-comment-footer-left {
            display: flex;
            align-items: center;

            .card-comment-footer-left-reply-text {
                span {
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: var(--main-color);
                }
            }

            .card-comment-footer-left-share-text {
                span {
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: var(--gray-text);
                    margin-left: 0.5rem;
                }
            }

            .card-comment-footer-left-icon {
                display: flex;
                align-items: center;

                i {
                    font-size: 1rem;
                    color: var(--gray-text);
                    margin-left: 0.5rem;
                }
                span {
                    font-size: 0.8rem;
                    font-weight: 400;
                    color: var(--gray-text);
                    margin-left: 0.1rem;
                }
            }
        }
    }
}

.card-comment ::ng-deep .ck-editor__editable_inline {
    min-height: 120px;
}

.btn-post-comment {
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--blue-itc);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}