<div class="newest-outer mx-2">
    <div class="d-flex justify-content-center sub-title text-center alert alert-warning">
        <p>
            The posts here have been displayed based on the Topics, and the posts of the people you follow. If you want to follow new topics or authors, please click <a routerLink="/home/newest/content-creators">here</a>!
        </p>
    </div>
    <div class="title-group">
        <div class="title">
            <p class="text-uppercase">
                <i class="fa-light fa-users"></i>
                Newest Posts of the people you follow
            </p>
            <hr class="ms-1">
        </div>
    </div>
    <div class="option-list-icon-group d-flex justify-content-end w-100 mt-3">
        <i class="fa-solid fa-list"></i>
        <i class="fa-regular fa-newspaper ms-3"></i>
    </div>
    <div class="mt-3">
        <div *ngIf="!listPosts?.items.length">
            <div class="d-flex justify-content-center sub-title">
                <p>
                    Posts with zero views will only be displayed on users profile page, and will not be listed here.
                </p>
            </div>
        </div>
        <div *ngFor="let item of listPosts?.items | paginate: {
            itemsPerPage: itemsSize,
            currentPage: page,
            totalItems: listPosts?.totalItems
          }">
            <app-card-item [item]="item"></app-card-item>
        </div>
        <div class="mt-3 d-flex justify-content-end">
            <pagination-controls *ngIf="listPosts?.items.length" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
</div>