<div class="posts-outer container-lg px-0 px-lg-5 pt-2">
    <mat-horizontal-stepper [linear]="true" #horizontalStepper>
        <mat-step #horizontalStepperStep1>
            <ng-template matStepLabel>Posts Info</ng-template>
            <form [formGroup]="postsForm" class="mt-2">
                <div class="form-group mt-1 col-12">
                    <div class="col-12 d-flex">
                        <input matInput formControlName="title" [placeholder]="'Enter Title Text (not required)'"
                            class="input-custom me-3">
                        <div class="dropdown">
                            <button class="custom-button-thumbnail d-flex align-items-center" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="mb-1 me-2">Thumbnail</span>
                                <i class="fa-solid fa-angle-down my-auto"></i>
                            </button>
                            <ul class="dropdown-menu pt-0">
                                <div class="popover-posts-option p-3">
                                    <h3>Publish your posts</h3>
                                    <div>
                                        <p>Choose a thumbnail for your posts. This will be the default thumbnail for
                                            your posts.</p>
                                        <div class="d-flex justify-content-center">
                                            <div class="">
                                                <div class="magazine1" appDrag (files)="detectFileThumbnail($event)">
                                                    <label
                                                        class="inline-block my-3 text-gray-500 text-center flex flex-col w-100"
                                                        *ngIf="urlThumbnail?.length === 0">
                                                        Image Thumbnail </label>
                                                    <div class="flex items-start justify-center w-100 drop1 h-100"
                                                        *ngIf="urlThumbnail?.length === 0">
                                                        <label draggable="true" class="w-100 border-0" for="files1">
                                                            <div class="flex-column text-center w-100 pt-2">
                                                                <mat-icon aria-hidden="false"
                                                                    aria-label="Example home icon"
                                                                    fontIcon="touch_app"></mat-icon>
                                                                <div class="desc">
                                                                    Click Or Drag
                                                                    <br />
                                                                    Image Here
                                                                </div>
                                                                <p
                                                                    class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600">
                                                                </p>
                                                            </div>
                                                            <input type="file" id="files1" class="opacity-0"
                                                                (change)="detectFileThumbnail($event)" />
                                                        </label>
                                                    </div>
                                                    <div *ngFor="let url of urlThumbnail; let i = index" cdkDrag
                                                        class="d-flex justify-content-center align-items-cente w-100 h-100">
                                                        <div *ngIf="i === 0" class="h-100 w-100">
                                                            <div class="h-100 w-100">
                                                                <img class="flex flex-col rounded-lg" [src]="url"
                                                                    style="height: 100%; width: 100%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center"
                                                    *ngIf="urlThumbnail?.length != 0">
                                                    <button mat-mini-fab color="warn" (click)="removeUrlThumbnail()"
                                                        class="absolute justify-self-center my-fab">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <select name="" id="" class="select-custom mt-2" formControlName="topics">
                            <option value="{{topic?.id}}" *ngFor="let topic of listTopic?.items">
                                {{ topic?.name }}
                            </option>
                        </select>
                        <div class="form-group col-12 mt-2 chip-list">
                            <mat-form-field class="width-1 w-100" appearance="fill">
                                <mat-chip-grid #chipGrid aria-label="Enter tags">
                                    <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)" [editable]="true"
                                        (edited)="edit(tag, $event)"
                                        [aria-description]="'press enter to edit ' + tag.name">
                                        {{tag.name}}
                                        <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-row>
                                    <input placeholder="Tag your post. Maximum 5 tags. At least 1 tag!"
                                        [matChipInputFor]="chipGrid"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                                </mat-chip-grid>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div>
                    <app-my-ck-editor [readonly]="readonly" (changeInput)="onchange($event)" [contentRichText]="contentRichText" [placeholder]="placeholder"></app-my-ck-editor>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <div>
                        <button mat-raised-button color="warn" class="me-3">Cancel</button>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" matStepperNext (click)="next()"
                            [disabled]="postsForm.invalid || !contentRichText.length">Continue</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step #horizontalStepperStep2>
            <ng-template matStepLabel>Posts preview</ng-template>
            <app-posts-item [tags]="tags" [content]="content" [title]="this.postsForm.value.title"
                [user]="user"></app-posts-item>
            <div class="d-flex justify-content-end mt-2">
                <div>
                    <button mat-raised-button color="warn" class="me-3" matStepperPrevious>Cancel</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" matStepperNext>Continue</button>
                </div>
            </div>
        </mat-step>
        <mat-step #horizontalStepperStep3>
            <ng-template matStepLabel>Posts options</ng-template>
            <form [formGroup]="formOptionPosts" class="d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 shadow p-5 mt-4">
                    <h1>Publish your posts</h1>
                    <b>License:</b><span> All Rights Reserved</span><br>
                    <label id="example-radio-group-label" class="mt-3">Visibility:</label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="status">
                        <mat-radio-button class="example-radio-button" [value]="'PUBLISH'">
                            Publish
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="'DRAFT'">
                            Private
                        </mat-radio-button>
                    </mat-radio-group>
                    <div>
                        <h3 class="fw-bold">
                            <u>Policy:</u>
                        </h3>
                        <ul class="custom-counter">
                            <li>
                                <b>Purpose</b>
                                <p>This policy outlines the rules and guidelines for the use of our content website.</p>
                            </li>
                            <li>
                                <b>Content</b>
                                <p>All content published on our website is original and created by our team of writers,
                                    unless otherwise noted. We reserve the right to edit or remove any content that
                                    violates our policies or does not meet our standards.</p>
                            </li>
                            <li>
                                <b>Copyright</b>
                                <p>All content on our website is protected by copyright law. You may not copy,
                                    reproduce, or distribute our content without our permission.</p>
                            </li>
                            <li>
                                <b>Use of Content</b>
                                <p>You may use our content for personal and non-commercial purposes, as long as you give
                                    proper credit to our website and link back to the original content. You may not use
                                    our content for commercial purposes without our permission.</p>
                            </li>
                            <li>
                                <b>Comments</b>
                                <p>We encourage readers to leave comments on our content. However, we reserve the right
                                    to moderate all comments and remove any comments that are deemed offensive, abusive,
                                    or spammy. We also reserve the right to block users who repeatedly violate our
                                    commenting policy.</p>
                            </li>
                            <li>
                                <b>Privacy</b>
                                <p>We value your privacy and will not share your personal information with any third
                                    party unless required by law. Please refer to our privacy policy for more
                                    information.</p>
                            </li>
                            <li>
                                <b>Disclaimer</b>
                                <p>All content on our website is for informational purposes only and should not be
                                    considered professional advice. We make no guarantees regarding the accuracy or
                                    reliability of our content. Users should consult with a professional before making
                                    any decisions based on our content.</p>
                            </li>
                            <li>
                                <b>Changes to Policy</b>
                                <p>We reserve the right to update or modify this policy at any time without prior
                                    notice. It is your responsibility to review this policy periodically for changes.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-end mt-3">
                <div>
                    <button mat-raised-button color="warn" class="me-3" matStepperPrevious>Cancel</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>