<!-- Section: Design Block -->
<section>
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -160px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <img src="../../../../assets/images/logo-header-250x250.png" width="100" alt="">
            </div>
            <div class="text-center">
                <h2 class="fw-bold mb-5">Đăng kí tài khoản cho ITCommunity</h2>
            </div>
            <form [formGroup]="infoRegister">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" class="form-control is-invalid" formControlName="username" [class.is-invalid]="isControlInvalid(infoRegister, 'username')"
                    [class.is-valid]="isControlValid(infoRegister, 'username')"/>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="fullname">Fullname</label>
                    <input type="text" id="fullname" class="form-control is-invalid" formControlName="fullname" [class.is-invalid]="isControlInvalid(infoRegister, 'fullname')"
                    [class.is-valid]="isControlValid(infoRegister, 'fullname')"/>
                  </div>
                </div>
              </div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="gender">Gender</label>
                    <select name="gender" id="gender" class="form-control is-invalid" formControlName="gender"  [class.is-invalid]="isControlInvalid(infoRegister, 'gender')"
                    [class.is-valid]="isControlValid(infoRegister, 'gender')">
                      <option value="MALE">Male</option>
                      <option value="FEMALE">Female</option>
                      <option value="OTHER">Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="fullname">Age</label>
                    <input type="text" id="fullname" class="form-control is-invalid" formControlName="age" [class.is-invalid]="isControlInvalid(infoRegister, 'age')"
                    [class.is-valid]="isControlValid(infoRegister, 'age')"/>
                  </div>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Email address</label>
                <input type="email" id="email" class="form-control is-invalid" formControlName="email" [class.is-invalid]="isControlInvalid(infoRegister, 'email')"
                [class.is-valid]="isControlValid(infoRegister, 'email')"/>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" class="form-control is-invalid" formControlName="password" [class.is-invalid]="isControlInvalid(infoRegister, 'email')"
                [class.is-valid]="isControlValid(infoRegister, 'email')"/>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-between mb-4">
                <div>
                    <label class="form-check-label" for="form2Example33">
                        Subscribe to our newsletter
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="form2Example33" checked />
                </div>
                <div>
                    <a [routerLink]="['/auth/login']">Đăng nhập</a>
                </div>
              </div>
  
              <!-- Submit button -->
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 w-50" (click)="register()" [disabled]="infoRegister.invalid">
                    Sign up
                  </button>
              </div>

              <!-- Register buttons -->
              <div class="text-center">
                <p>Information contact with ITCommunity:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->