<div class="sidebar-ask-outer mx-4">
    <div class="d-flex">
        <h5 class="title-sidebar text-uppercase">{{ 'NEWEST_QUESTIONS' | translate }}</h5>
        <hr class="title-line ms-2">
    </div>
    <div>
        <div class="ask-item mt-3" *ngFor="let question of questions">
            <a href="/questions/{{question?.id}}">
                <h5 class="title-ask">
                    {{ question.title }}
                </h5>
            </a>
            <div class="group-icon d-flex">
                <div class="icon">
                    <i class="fa-solid fa-eye"></i>
                    <span>{{ question?.viewNumber }}</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-share"></i>
                    <span>{{ question?.bookMarkNumber }}</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-comment"></i>
                    <span>{{ question?.answerNumber }}</span>
                </div>
            </div>
            <div>
                <a routerLink="/profile/{{question?.author?.username}}/posts" class="name-user">
                    <span>
                        {{ question?.author?.fullname }}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-ask-outer mx-4 mt-5">
    <div class="d-flex">
        <h5 class="title-sidebar text-uppercase">{{ 'NEWEST_POSTS' | translate}}</h5>
        <hr class="title-line ms-2">
    </div>
    <div>
        <div class="ask-item mt-3" *ngFor="let posts of listPosts">
            <a href="/posts/{{posts?.id}}">
                <h5 class="title-ask">
                    {{ posts.name }}
                </h5>
            </a>
            <div class="group-icon d-flex">
                <div class="icon">
                    <i class="fa-solid fa-eye"></i>
                    <span>{{ posts?.viewNumber }}</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-comment"></i>
                    <span>{{ posts?.commentNumber }}</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-bookmark"></i>
                    <span>{{ posts?.bookMarkNumber }}</span>
                </div>
            </div>
            <div>
                <a routerLink="/profile/{{posts?.author?.username}}/posts" class="name-user">
                    <span>
                        {{ posts?.author?.fullName }}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>