<div class="profile-outer">
    <div class="profile-header container">
        <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="left-header d-flex align-items-center w-75">
                <div class="profile-header-avatar">
                    <img src="{{ user?.avatar }}" width="140">
                </div>
                <div class="profile-header-text ms-4">
                    <p class="name">{{ user?.fullName }}</p>
                    <p class="username m-0">@{{ user?.username }}</p>
                    <p class="about mt-3"> "{{user?.about}}" </p>
                </div>
            </div>
            <div *ngIf="currentUser?.id !== user?.id">
                <button class="btn-follow" (click)="followingMember(user)" *ngIf="!isFollowing">
                    <i class="fa-solid fa-plus me-1"></i>
                    Follow
                </button>
                <button class="btn-following" *ngIf="isFollowing" (click)="unfollowingMember(user)">
                    <i class="fa-solid fa-check me-1"></i>
                    Following
                </button>
            </div>
        </div>
    </div>
    <menu class="menu d-flex p-0">
        <div class="container-md">
            <ul class="d-flex justify-content-start align-items-center h-100 menu-outer p-0">
                <li class="h-100 px-5 menu-item" id="posts" *ngFor="let item of menuItems" (click)="itemSelected(item)" [class.active]="item.active" routerLink="{{ item?.link }}">
                    <a class="my-auto">{{ item?.name }}</a>
                </li>
            </ul>
        </div>
    </menu>
    <div class="container d-flex mt-4">
        <div class="w-100 w-lg-75">  
            <router-outlet></router-outlet>
        </div>
        <div class="w-25 d-none d-lg-block mx-2">
            <app-profile-sidebar [user]="user"></app-profile-sidebar>
        </div>
    </div>
</div>