.sub-title {
    color: var(--gray-text);
    font-size: 1rem;
    font-weight: 400;
}

.title {
    display: flex;

    p {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--gray-text);
        margin-right: 10px;
    }

    hr {
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    .right-content-home {
        display: none;
    }

    .left-content-home {
        width: 100%;
    }

    .slide {
        img {
            height: 200px;
        }
    }
}