.group-card-item {
    border-bottom: 1px solid var(--gray-light);
    padding-bottom: 15px;

    .avatar-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .group-content-user {
        .name {
            font-size: 0.9rem;
            font-weight: 500;
            color: var(--main-color);
        }

        .date-ago,
        .time-readding,
        .line,
        i {
            font-size: 0.8rem;
            color: var(--gray-text);
            font-weight: 300;
            margin-top: 3px;
        }
    }

    .group-content-title {
        .title a {
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--black);
        }

        .title a:hover {
            color: var(--main-color);
        }
    }

    .icon {
        i {
            font-size: 1.2rem;
            color: var(--main-color);
            transform: rotate(35deg);
        }
    }

    .tag-name-trending {
        font-size: 0.7rem;
        font-weight: 500;
        padding: 3px 10px;
        border-radius: 5px;
        background: var(--main-color);
        margin-top: 10px;
        width: fit-content;

        a {
            color: var(--white);
        }
    }

    .tag-name {
        font-size: 0.7rem;
        font-weight: 500;
        padding: 3px 10px;
        border-radius: 5px;
        background: #f4f4f5;
        margin-top: 10px;
        width: fit-content;
        border: 1px solid #e9e9eb;

        a {
            color: var(--gray-text);
        }
    }

    .group-icon-action {
        .icon-item {
            font-size: 0.8rem;
            color: var(--gray-text);
            margin-left: 15px;
            aspect-ratio: 3/2;

            span {
                margin-left: 3px;
            }
        }
    }
}

a {
    text-decoration: none;
}

.box-card-related {
    margin-top: 20px;
    padding: 25px;
    border: 1px solid var(--gray-light);
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 170px;
    margin: 0 10px;
    flex: 1;

    .title {
        a {
            font-size: 1rem;
            font-weight: 500;
            color: var(--black);
            margin-bottom: 10px;
        }
    }

    .name {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--main-color);
    }

    .time-read {
        font-size: 0.8rem;
        font-weight: 300;
        color: var(--gray-text);
    }

    .group-card-item {
        margin-bottom: 15px;
    }
}
// text one line
.text-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// text two line
.text-two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.comment-outer {
    .title {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--black);
        margin-bottom: 10px;
    }
}

.tag-group {
    display: flex;
}

@media screen and (max-width: 768px) {
    .tag-group {
        display: inline-flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .group-content-user {
        display: block !important;
    }
    .time-readding, .link-icon, .line {
        display: none;
    }
    .group-title {
        width: 70%;
    }
}