<div class="p-3">
    <div class="card-comment mt-3" *ngFor="let comment of comment?.childComment | paginate: {
        itemsPerPage: itemsSize,
        currentPage: page,
        totalItems: listComments?.totalItems
      }">
        <div class="card-comment-header">
            <div class="card-comment-header-left">
                <div class="card-comment-header-left-avatar">
                    <img src="{{ comment?.author?.avatar }}" alt="avatar">
                </div>
                <div class="card-comment-header-left-info">
                    <div class="d-flex">
                        <div class="card-comment-header-left-info-name me-2">
                            <a href="#">{{ comment?.author?.fullname || comment?.author?.fullName }}</a>
                        </div>
                        <div class="card-comment-header-left-info-username">
                            <span>@{{ comment?.author?.username }}</span>
                        </div>
                    </div>
                    <div class="card-comment-header-left-info-time">
                        <span>1 hour ago</span>
                    </div>
                </div>
            </div>
            <div class="card-comment-header-right">
                <div class="card-comment-header-right-icon">
                    <i class="fa-solid fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="card-comment-body">
            <div class="card-comment-body-content">
                <div [innerHTML]="comment?.content | safeHtml"></div>
            </div>
        </div>
        <!-- <div class="card-comment-footer">
            <div class="card-comment-footer-left">
                <div class="card-comment-footer-left-icon me-2">
                    <i class="fa-solid fa-comment me-1"></i>
                    <span>Reply</span>
                </div>
            </div>
        </div> -->
    </div>
    <div class="mt-3 d-flex justify-content-end">
        <pagination-controls *ngIf="listComments?.items.length" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
    <div class="card-comment">
        <app-my-ck-editor [readonly]="readonly" (changeInput)="onchange($event)" [contentRichText]="contentRichText"
            [placeholder]="placeholder">
        </app-my-ck-editor>
        <div class="mt-2 d-flex justify-content-end">
            <button class="btn-post-comment" [disabled]="contentRichText === ''" (click)="onSubmit()">
                Posts comment
            </button>
        </div>
    </div>
</div>

