<div class="newest-outer mx-2">
    <div class="title-group">
        <div class="title">
            <p class="text-uppercase">
                <i class="fa-light fa-newspaper"></i>
                Newest Posts
            </p>
            <hr class="ms-1">
        </div>
    </div>
    <div class="option-list-icon-group d-flex justify-content-end w-100">
        <i class="fa-solid fa-list"></i>
        <i class="fa-regular fa-newspaper ms-3"></i>
    </div>
    <div class="mt-3">
        <div *ngFor="let item of listPosts?.items | paginate: {
            itemsPerPage: itemsSize,
            currentPage: page,
            totalItems: listPosts?.totalItems
          }">
            <app-card-item [item]="item"></app-card-item>
        </div>
        <div class="mt-3 d-flex justify-content-end">
            <pagination-controls *ngIf="listPosts?.items.length" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
</div>