.title {
    display: flex;

    p {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--gray-text);
        margin-right: 10px;
    }

    hr {
        flex: 1;
    }
}

@media screen and (max-width: 400px) {
    .target {
        display: none;
    }
}