<div class="mx-2">
    <div class="title-group">
        <div class="title">
            <p class="text-uppercase">
                <i class="fa-regular fa-messages-question"></i>
                Newest Questions
            </p>
            <hr class="ms-1">
        </div>
    </div>
    <div class="d-flex justify-content-end" *ngIf="isLogin">
        <button mat-raised-button color="primary" routerLink="/questions/create">
            <i class="fa-solid fa-circle-plus"></i>
            Ask Question
        </button>
    </div>
    <div *ngFor="let question of listQuestions?.items">
        <app-question-card [question]="question"></app-question-card>
    </div>
</div>