<div class="group-posts-preview container">
    <div class="d-flex mt-3">
        <div class="avatar-image">
            <img src="{{user?.avatar}}" alt="">
        </div>
        <div class="ms-2">
            <div class="d-flex group-content-user align-items-start">
                <div class="name">
                    <a href="">
                        <span>{{ user?.fullName }}</span>
                    </a>
                </div>
                <div class="date-ago ms-2">
                    <span class="my-auto">@{{user?.username}}</span>
                </div>
                <span class="mx-3 line">-</span>
                <div class="time-readding">
                    <span class="my-auto">3 phút đọc</span>
                </div>
                <div class="link-icon ms-2">
                    <i class="fa-solid fa-link-simple"></i>
                </div>
            </div>
            <div class="group-icon-action d-flex mt-1">
                <div class="icon-item m-0">
                    <i class="fa-solid fa-eye"></i>
                    <span>0</span>
                </div>
                <div class="icon-item">
                    <i class="fa-solid fa-bookmark"></i>
                    <span>0</span>
                </div>
                <div class="icon-item">
                    <i class="fa-solid fa-comment"></i>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="tag-name me-1" *ngFor="let tag of tags">
            <a href="#">
                <span>{{ tag.name ? tag.name : tag }}</span>
            </a>
        </div>
        <!-- <div class="tag-name ms-1">
            <a href="#">
                <span>Notification</span>
            </a>
        </div> -->
    </div>
    <div class="group-content-posts mt-2">
        <h1 class="fw-bold title">
            {{ title }}
        </h1>
        <div [innerHTML]="content | safeHtml">
        </div>
    </div>
</div>