.btn-cancel {
    background-color: #fff;
    color: var(--gray-text);
    border: 1px solid var(--gray-text);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: var(--main-color);
        border: 1px solid var(--main-color);
    }
}

.btn-ok {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: var(--main-color);
    }
}