<div class="p-4">
    <div class="header d-flex justify-content-end">
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body text-center pt-0">
        <img src="../../../../../assets/images/icon-warning.png" alt="" width="80px">
        <h4 class="title mt-2">{{ title }}</h4>
        <span class="content">
            {{ content }} This action cannot be undone.
        </span>
    </div>
    <div class="d-flex">
        <button class="btn-cancel flex-grow-1 me-1" (click)="closeModal()">
            <i class="fa-regular fa-xmark me-2"></i>
            Cancel
        </button>
        <button class="btn-ok flex-grow-1 ms-1" (click)="confirm()">
            <i class="fa-regular fa-trash-xmark me-2"></i>
            Delete
        </button>
    </div>
</div>