<aside class="sidebar shadow-sm pt-5 pt-md-0">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="../../../../assets/images/logo-full-250x250.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">User</p>
      <small class="text-uppercase role">Administrator</small>
    </div>
  </div>
  <nav class="sidebar-menu pt-3 pb-3 mx-3">
    <div class="menu-header mt-3 mb-2">
      Manager
    </div>
    <ul class="menu-items list-unstyled">
      <li >
        <a href="admin/dashboard" routerLinkActive="active">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="">
        <a routerLink="/admin/posts-manager">
          <i class="fa-light fa-newspaper"></i>
          <span class="ms-3">Posts</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/series-manager">
          <i class="fa-regular fa-rectangle-vertical-history"></i>
          <span>Series</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/questions-manager">
          <i class="fa-regular fa-messages-question"></i>
          <span>Questions</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/users-manager">
          <i class="fa-light fa-users"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/topic-manager">
          <i class="fa-sharp fa-light fa-newspaper"></i>
          <span>Topics</span>
        </a>
      </li>
    </ul>
    <div class="menu-header mt-4 mb-4">
      Other
    </div>
    <ul class="menu-items list-unstyled ">
      <li>
        <a routerLink="/home">
          <i class="fas fa-sign-out-alt"></i>
          <span>
            Back to home
          </span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
