.left-side-bar {
    position: relative;
    max-width: 279px !important;

    .sticky {
        position: sticky;
        top: 10px;
    }
    ul {
        padding: 0;
        li {
            cursor: pointer;
            &:hover {
                color: var(--main-color);
            }
        }
    }
}

.title-sidebar {
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-color);
    margin-bottom: 10px;
}

.title-line {
    color: var(--gray-text);
    flex-grow: 1;
}

.related-outer {
    .title {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--black);
        margin-bottom: 10px;
    }
}


.left-content-home {
    position: relative;
    width: 75%;
}

.right-content-home {
    width: 25%;
}

//loader center
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
    .right-content-home {
        display: none;
    }

    .left-content-home {
        width: 100%;
        img {
            width: 100% !important;
            object-fit: cover;
        }
    }

    .slide {
        img {
            height: 200px;
        }
    }
    .align-items-stretch {
        overflow: auto;
        padding-bottom: 20px;
    }
}
