<div class="mt-5 container d-flex">
    <div class="right-content-series">
        <div class="title">
            <h1>{{ series?.name }}</h1>
        </div>
        <div class="tags-group">
            <div class="tag-name me-1" *ngFor="let tag of series?.keywords">
                <a href="#">
                    <span>{{ tag }}</span>
                </a>
            </div>
        </div>
        <div class="my-3 d-flex justify-content-end">
            <div class="dropdown">
                <button class="custom-button-option d-flex align-items-center" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <ul class="dropdown-menu popover-posts-option  pt-0">
                    <li *ngIf="isPermission()">
                        <a class="dropdown-item p-3 py-2" routerLink="/series/{{series?.id}}/edit">
                            <i class="fa-regular fa-pen-to-square me-2"></i>
                            <span>Edit series</span>
                        </a>
                    </li>
                    <!-- <li *ngIf="isPermission()">
                        <a class="dropdown-item p-3 py-2" href="#">
                            <i class="fa-regular fa-square-plus me-2"></i>
                            <span>Add posts to series</span>
                        </a>
                    </li> -->
                    <li *ngIf="isPermission()">
                        <a class="dropdown-item p-3 py-2">
                            <i class="fa-duotone fa-trash me-2"></i>
                            <span>Delete series</span>
                        </a>
                    </li>
                    <li *ngIf="!isPermission()">
                        <a class="dropdown-item p-3 py-2">
                            <i class="fa-regular fa-flag me-2"></i>
                            <span>Report</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item p-3 py-2" (click)="bookmarkSeries(series)">
                            <i class="fa-regular fa-bookmark me-2"></i>
                            <span>Bookmark</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-2 create-date">
            <div class="create-date-item">
                <p>
                    <i class="fa-solid fa-earth-americas"></i>
                    Published at {{ series?.created | date: 'medium' }}
                </p>
                <div class="group-icon-action d-flex mt-1 ms-0 ms-lg-4">
                    <div class="icon-item m-0">
                        <i class="fa-solid fa-eye"></i>
                        <span>{{ series?.viewNumber }}</span>
                    </div>
                    <div class="icon-item">
                        <i class="fa-solid fa-bookmark"></i>
                        <span>{{ series?.commentNumber }}</span>
                    </div>
                    <div class="icon-item">
                        <i class="fa-solid fa-comment"></i>
                        <span>{{ series?.bookMarkNumber }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div [innerHTML]="series?.description | safeHtml"></div>
        </div>
        <div class="d-flex align-items-end">
            <h1 class="text-uppercase title-content m-0 mt-2">Contents</h1>
            <hr class="title-line m-0 ms-2">
        </div>
        <div class="mt-4 mx-2">
            <div *ngFor="let posts of listPosts?.items">
                <app-card-item [item]="posts"></app-card-item>
            </div>
        </div>
        <!-- Comment -->
        <div class="container mt-5 comment-outer">
            <div class="title">
                <h1>Comments</h1>
            </div>
            <div>
                <app-comments [series]="series"></app-comments>
            </div>
        </div>
        <!-- Comment -->
    </div>
    <div class="mt-3 left-side-bar">
        <div class="left-side-bar-item sticky" id="sidebar">
            <div class="mx-4">

            </div>
            <app-sidebar-ask></app-sidebar-ask>
        </div>
    </div>
</div>