<div>
    <h1 class="title">
        List Users <span class="text-danger">({{totalUsers}})</span>
    </h1>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> 
            <div>
                <img src="{{element?.avatar}} " alt="" style="width: 40px; height: 40px; border-radius: 50%;">
                <span class="ms-2">{{element?.fullname}}</span>
            </div>
        </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="postsNumber">
        <th mat-header-cell *matHeaderCellDef> Posts Number </th>
        <td mat-cell *matCellDef="let element"> {{element?.postsNumber}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="questionsNumber">
        <th mat-header-cell *matHeaderCellDef> Questions Number </th>
        <td mat-cell *matCellDef="let element"> {{element.questionsNumber }} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="seriesNumber">
        <th mat-header-cell *matHeaderCellDef> Series Number </th>
        <td mat-cell *matCellDef="let element"> {{element?.seriesNumber}} </td>
      </ng-container>

       <!-- Symbol Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
        <td mat-cell *matCellDef="let element" class="text-center">
            <i class="fa-solid fa-trash text-danger" (click)="deletePosts(element)"></i>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 30, 50]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>