<div class="content-creator-outer">
    <div class="topic-outer">
        <div class="title-group">
            <div class="title">
                <p class="text-uppercase">
                    Topics
                </p>
                <hr class="ms-1">
            </div>
        </div>
        <div class="card-topic-group">
            <div class="card-topic mt-4" *ngFor="let topic of topics">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="d-flex w-75">
                        <div class="card-topic-img">
                            <img src="{{topic.image}}" width="100" height="100" alt="">
                        </div>
                        <div class="ms-2">
                            <p class="topic-title m-0">
                                <i class="rss-icon fa fa-rss-square pr-05"></i>
                                {{topic.name}}
                            </p>
                            <div>
                                <div>
                                    <span>Posts:</span>
                                    <span class="ms-1">{{topic.postNumber}}</span>
                                </div>
                                <div>
                                    <span>Followers:</span>
                                    <span class="ms-1">{{topic.followersNumber}}</span>
                                </div>
                                <div>
                                    <span>Answers:</span>
                                    <span class="ms-1">{{topic.answerNumber}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-25">
                        <button class="btn-follow">
                            <i class="fa-solid fa-plus"></i>
                            Follow
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>