<div class="sidebar-ask-outer mx-4">
    <div class="d-flex">
        <h5 class="title-sidebar text-uppercase">Câu hỏi mới nhất</h5>
        <hr class="title-line ms-2">
    </div>
    <div>
        <div class="ask-item">
            <a href="">
                <h5 class="title-ask">
                    Tìm project backend nodejs để tham gia học hỏi
                </h5>
            </a>
            <div class="group-icon d-flex">
                <div class="icon">
                    <i class="fa-solid fa-share"></i>
                    <span>1</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-eye"></i>
                    <span>1</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-comment"></i>
                    <span>1</span>
                </div>
            </div>
            <div>
                <a href="#" class="name-user">
                    <span>
                        Hira Nguyen
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>